src/backend/warmChickenServer.nodered
[{"type":"tab","id":"40c44fcd.bf3bb","label":"wc"},{"type":"tab","id":"b60778d1.49f888","label":"Future"},{"type":"tab","id":"f40d9edf.0bf26","label":"testing"},{"id":"ff885e61.0077a","type":"websocket-listener","z":"40c44fcd.bf3bb","path":"/ws/example","wholemsg":"false"},{"id":"dcd78b75.232878","type":"mongodb","z":"40c44fcd.bf3bb","hostname":"127.0.0.1","port":"2001","db":"chickencoop","name":"meteorMongo"},{"id":"55713f43.aa8ec","type":"websocket-listener","z":"40c44fcd.bf3bb","path":"/ws","wholemsg":"false"},{"id":"432f1777.bcd0e8","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"a49e9bbd.5b6168","type":"tcp in","z":"40c44fcd.bf3bb","name":"wcFeed","server":"client","host":"192.168.0.35","port":"2000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"chickedcoop","base64":false,"x":102,"y":58,"wires":[["e7795d33.1886a","620abd9d.9df544","9e5bbd85.61a44","d35b5ec6.2ca4a","b53cb9b9.4ac348","81ed7257.7e129"]]},{"id":"28a07f4b.d75f8","type":"mongodb out","z":"40c44fcd.bf3bb","mongodb":"dcd78b75.232878","name":"","collection":"chickencoop","payonly":false,"upsert":false,"multi":false,"operation":"store","x":651.686653137207,"y":248.42001724243164,"wires":[]},{"id":"620abd9d.9df544","type":"debug","z":"40c44fcd.bf3bb","name":"","active":false,"console":"false","complete":"true","x":335.5833511352539,"y":29.25,"wires":[]},{"id":"e7795d33.1886a","type":"function","z":"40c44fcd.bf3bb","name":"justpayload","func":"var p = JSON.parse(msg.payload);\np.timestamp = new Date().getTime();\n\nNumber.prototype.padLeft = function(base,chr){\n   var  len = (String(base || 10).length - String(this).length)+1;\n   return len > 0? new Array(len).join(chr || '0')+this : this;\n}\n\nvar d = new Date();\nvar dformat = (d.getYear()-100).padLeft()+\n                    (d.getMonth()+1).padLeft()+\n                    d.getDate()+\n                    '-' +\n                 d.getHours().padLeft()+\n                    d.getMinutes().padLeft()+\n                    d.getSeconds().padLeft();\np.datetime = dformat;\n\ncontext.global.tcpsess = msg._session;\n\nreturn p;","outputs":1,"noerr":0,"x":344.50000762939453,"y":251.58331680297852,"wires":[["28a07f4b.d75f8"]]},{"id":"a6f654e1.5909a8","type":"http in","z":"40c44fcd.bf3bb","name":"wcCmd","url":"/wcCmd","method":"get","swaggerDoc":"","x":115,"y":310,"wires":[["d4b7dddd.2b482"]]},{"id":"416294dc.be9d6c","type":"http response","z":"40c44fcd.bf3bb","name":"","x":427,"y":312,"wires":[]},{"id":"120bfe1d.edf402","type":"tcp out","z":"40c44fcd.bf3bb","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":428.00000762939453,"y":362.2500057220459,"wires":[]},{"id":"d4b7dddd.2b482","type":"function","z":"40c44fcd.bf3bb","name":"urlParse","func":"msg.payload = msg.req.query.v;\nmsg._session = context.global.tcpsess;\nreturn msg;","outputs":1,"noerr":0,"x":261,"y":311,"wires":[["416294dc.be9d6c","120bfe1d.edf402"]]},{"id":"7598defd.8a672","type":"websocket in","z":"40c44fcd.bf3bb","name":"","server":"432f1777.bcd0e8","x":96.66665649414062,"y":448.3333740234375,"wires":[["51d542ec.ae2abc","2c071abc.d3f8e6"]]},{"id":"51d542ec.ae2abc","type":"function","z":"40c44fcd.bf3bb","name":"","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"x":244.66665649414062,"y":473.3333740234375,"wires":[["87e0b096.781f5","dfd00e3c.202ff"]]},{"id":"87e0b096.781f5","type":"websocket out","z":"40c44fcd.bf3bb","name":"","server":"432f1777.bcd0e8","client":"","x":441.6666564941406,"y":486.3333740234375,"wires":[]},{"id":"b8c3f346.473c1","type":"http in","z":"40c44fcd.bf3bb","name":"","url":"/chat","method":"get","x":74.66665649414062,"y":544.3333740234375,"wires":[["db2b8b52.24d478"]]},{"id":"db2b8b52.24d478","type":"template","z":"40c44fcd.bf3bb","name":"","field":"","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":256.6666564941406,"y":543.3333740234375,"wires":[["214ecddd.deb132"]]},{"id":"214ecddd.deb132","type":"http response","z":"40c44fcd.bf3bb","name":"","x":460.6666564941406,"y":546.3333740234375,"wires":[]},{"id":"dfd00e3c.202ff","type":"debug","z":"40c44fcd.bf3bb","name":"","active":false,"console":"false","complete":"true","x":424.2023620605469,"y":442.1905517578125,"wires":[]},{"id":"e40d39f1.1bf2c8","type":"http in","z":"40c44fcd.bf3bb","name":"http","url":"/coop","method":"get","swaggerDoc":"","x":65.75000762939453,"y":657.8333435058594,"wires":[["f80abef3.07f54"]]},{"id":"ac34e0ad.53cb2","type":"http response","z":"40c44fcd.bf3bb","name":"httpout","x":765.7777709960938,"y":656.6944580078125,"wires":[]},{"id":"751597a4.8aea68","type":"mongodb in","z":"40c44fcd.bf3bb","mongodb":"dcd78b75.232878","name":"","collection":"chickencoop","operation":"find","x":426.8888854980469,"y":656.3333435058594,"wires":[["3c66f101.c3990e"]]},{"id":"3c66f101.c3990e","type":"template","z":"40c44fcd.bf3bb","name":"formatter","field":"payload","format":"handlebars","template":"<style>\n    td {\n        padding-left:5px;\n    }\n</style>\n<table>\n    <tr><th>DateTime</th><th>tInt</th><th>tExt</th><th>door</th><th>set</th><th>speed</th><th>mode</th></tr>\n    {{#payload}}\n    <tr>\n            <td>{{datetime}}</td>\n            <td>{{temperatureInterior}}</td>\n            <td>{{temperatureExterior}}</td>\n            <td style=\"text-align:right\">{{doorPosition}}</td>\n            <td style=\"text-align:right\">{{doorSetPoint}}</td>\n            <td>{{doorMotorSpeed}}</td>\n            <td>{{mode}}</td>\n    </tr>\n    {{/payload}}\n</table>\n\n","x":634.6666870117188,"y":656.5555419921875,"wires":[["ac34e0ad.53cb2"]]},{"id":"f80abef3.07f54","type":"function","z":"40c44fcd.bf3bb","name":"queryParams","func":"msg.sort = {_id:-1};\nmsg.limit = 1000;\n//msg.skip = 10;\nreturn msg;","outputs":1,"noerr":0,"x":206.6666717529297,"y":656.4444580078125,"wires":[["751597a4.8aea68"]]},{"id":"60e9899e.9f1678","type":"websocket out","z":"40c44fcd.bf3bb","name":"","server":"432f1777.bcd0e8","client":"","x":560.6666870117188,"y":72.00000762939453,"wires":[]},{"id":"9e5bbd85.61a44","type":"function","z":"40c44fcd.bf3bb","name":"payloadFilter","func":"var p = JSON.parse(msg.payload);\nvar message = \"id:\"+p.correlationID+\", tExt:\"+p.temperatureExterior+\", tInt:\"+p.temperatureInterior+\", door:\"+p.doorPosition;\nmsg.payload = {\"message\":message,\"user\":\"chickencoop\"};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":353.7500686645508,"y":71.0000057220459,"wires":[["60e9899e.9f1678"]]},{"id":"7c3d92e.f83c26c","type":"debug","z":"40c44fcd.bf3bb","name":"","active":false,"console":"false","complete":"true","x":569.8333206176758,"y":202.91665935516357,"wires":[]},{"id":"d35b5ec6.2ca4a","type":"function","z":"40c44fcd.bf3bb","name":"wcQuick","func":"var p = JSON.parse(msg.payload);\nreturn \"id:\"+p.correlationID+\", door:\"+p.doorPosition+\", tIn:\"+p.temperatureInterior+\", tOut:\"+p.temperatureExterior+\", mode:\"+p.mode;","outputs":1,"noerr":0,"x":337.66666412353516,"y":206.33333110809326,"wires":[["7c3d92e.f83c26c"]]},{"id":"b53cb9b9.4ac348","type":"function","z":"40c44fcd.bf3bb","name":"doorPositionCheck","func":"var p = JSON.parse(msg.payload);\nif (p.lightLevelExterior < 20 && p.doorPosition > 1.0) {\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"x":368.1666564941406,"y":163.4166612625122,"wires":[["7c3d92e.f83c26c"]]},{"id":"81ed7257.7e129","type":"tcp out","z":"40c44fcd.bf3bb","host":"","port":"1900","beserver":"server","base64":false,"end":false,"name":"warmchickenout","x":364.1666946411133,"y":113.33333778381348,"wires":[]},{"id":"d86efbbd.279108","type":"inject","z":"40c44fcd.bf3bb","name":"","topic":"light","payload":"L","payloadType":"string","repeat":"","crontab":"00 5 * * *","once":false,"x":116.75,"y":365.0000057220459,"wires":[["bcdbb6b.f432448"]]},{"id":"bcdbb6b.f432448","type":"function","z":"40c44fcd.bf3bb","name":"addSession","func":"node.warn(msg);\nmsg._session = context.global.tcpsess;\nreturn msg;","outputs":1,"noerr":0,"x":258,"y":365,"wires":[["120bfe1d.edf402"]]},{"id":"2c071abc.d3f8e6","type":"function","z":"40c44fcd.bf3bb","name":"setPayload","func":"var p = JSON.parse(msg.payload);\nmsg.payload = p.message;\nmsg._session = context.global.tcpsess;\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":410,"wires":[["120bfe1d.edf402"]]},{"id":"2b675341.d498ac","type":"udp in","z":"b60778d1.49f888","name":"mcast","iface":"","port":"12345","ipv":"udp4","multicast":"true","group":"225.0.0.37","datatype":"utf8","x":208,"y":539,"wires":[["90e5a546.6f1a58","9628d544.69d728"]]},{"id":"256f9d0.fda9064","type":"debug","z":"b60778d1.49f888","name":"","active":true,"console":"false","complete":"false","x":633.7142791748047,"y":590.4286756515503,"wires":[]},{"id":"90e5a546.6f1a58","type":"json","z":"b60778d1.49f888","name":"","x":329.4285354614258,"y":587.5714988708496,"wires":[["e10ab6a1.1ef548"]]},{"id":"e10ab6a1.1ef548","type":"template","z":"b60778d1.49f888","name":"","field":"payload","format":"handlebars","template":"This is the payload: {{payload.uptime}}","x":475.14288330078125,"y":594.7143030166626,"wires":[["256f9d0.fda9064"]]},{"id":"9628d544.69d728","type":"debug","z":"b60778d1.49f888","name":"mcastDebug","active":true,"console":"false","complete":"payload","x":376.5714416503906,"y":523.2857322692871,"wires":[]},{"id":"b3191fe9.4ce6e","type":"comment","z":"b60778d1.49f888","name":"Future Plans","info":"chicken door will eventually move to udp or probably coap. ","x":124.14286041259766,"y":501.42855644226074,"wires":[]}]